
.notebookDuties .custom-checkbox{
    margin-right: 50%;
    padding-left: 0 !important;
}
.addMemberCol{
    text-align: left;
}

@media (max-width: 575.98px) { 

    .table.notebookDuties{
        width: 800px !important;
    }
    .table.notebookDuties td:first-child{
        width: 210px;
    }
 }

 @media (max-width: 767.98px) {
    .table.notebookDuties{
        width: 900px !important;
    }
    
 }

 @media (max-width: 767.98px) {
    .notebookDuties .custom-checkbox{
        margin-right: 100% !important;
    }
    .addMemberCol{
        text-align: right !important;
    }
 }